<app-search-bar class="search-bar"></app-search-bar>
<h2 class="title">{{ title | async }}</h2>
<div class="snacks title">
  <div class="container-snacks" *ngFor="let snack of tags">
    <span class="snack">{{ snack }}</span>
  </div>
</div>
<div class="photos">
  <div class="photoProps">
    <div *ngFor="let photoProps of photosCol1">
      <app-photo [photo]="photoProps"> </app-photo>
    </div>
  </div>
  <div class="photoProps">
    <div *ngFor="let photoProps of photosCol2">
      <app-photo [photo]="photoProps"> </app-photo>
    </div>
  </div>
  <div class="photoProps">
    <div *ngFor="let photoProps of photosCol3">
      <app-photo [photo]="photoProps"> </app-photo>
    </div>
  </div>
</div>
