.photo-modal {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.container-modal {
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 1%;
}

.author {
    display: flex;
    font-size: 600;
}